# Python
__pycache__/
*.pyc
*.pyo
*.pyd

# Virtual environment
.venv/
env/

# VS Code
.vscode/

# OS
.DS_Store
Thumbs.db

# Pytest
.pytest_cache/

# Logs
*.log

#Environment variables
.env
signals_state.json

*.egg-info/
_smoke_*.py

